{
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "semi": true,
    "importOrder": [
        "^@/middlewares/(.*)$",
        "^@/routes/(.*)$",
        "^@/models/(.*)$",
        "^@/controllers/(.*)$",
        "^@/services/(.*)$",
        "^@/repositories/(.*)$",
        "^@/const/(.*)$",
        "^@/types/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
